<p>Bootstrap 3 based template for EFrame Web</p>

<p><span class="label label-danger">Heads up</span> This is a developer template and has only base styles. Use it for custom projects.</p>

<p>More updates coming soon.</p>