<ul>
	<li>Version: 4.0.2
		<ul>
			<li>Minor improvements</li>
			<li>Compatibility improvements</li>
		</ul>
	</li>
	<li>Version: 4.0.0
		<ul>
			<li>Compatibility improvements</li>
			<li>Minor design improvements</li>
		</ul>
	</li>
	<li>Version: 3.3.2
		<ul>
			<li>Tags added</li>
		</ul>
	</li>
	<li>Version: 3.3.0
		<ul>
			<li>Updated for EFrame 3.3.0</li>
			<li>Blog owner added</li>
		</ul>
	</li>
	<li>Version: 3.1.3
		<ul>
			<li>Added RSS feed</li>
		</ul>
	</li>
	<li>Version: 3.1.2
		<ul>
			<li>Removed IDs from links to blogposts as they are unnecessary</li>
		</ul>
	</li>
	<li>Version: 3.1.1
		<ul>
			<li>Plugin is updated for EFrame Web 3.1.2</li>
			<li>Minor code improvements.</li>
		</ul>
	</li>
	<li>Version: 3.1.0
		<ul>
			<li>Plugin is updated for EFrame Web 3.1.</li>
			<li>Minor code improvements.</li>
		</ul>
	</li>
	<li>Version: 3.0.4
		<ul>
			<li>Layout fixes.</li>
		</ul>
	</li>
	<li>Version: 3.0.3
		<ul>
			<li>Bug #1015: Incorrect custom CSS for blog.</li>
		</ul>
	</li>
	<li>Version: 3.0.2
		<ul>
			<li>Minor code improvements.</li>
		</ul>
	</li>
	<li>Version: 3.0.1
		<ul>
			<li>Breadcrumb improved.</li>
		</ul>
	</li>
	<li>Version: 3.0.0
		<ul>
			<li>Updated for EFrame 3.0.0</li>
		</ul>
	</li>
	<li>Version: 2.3.3
		<ul>
			<li>Bugfixes</li>
		</ul>
	</li>
	<li>Version: 2.3.2
		<ul>
			<li>Plugin is updated for EFrame Web v2.3.5</li>
		</ul>
	</li>
	<li>Version: 2.3.1
		<ul>
			<li>Default date option added</li>
		</ul>
	</li>
	<li>Version: 2.3.0
		<ul>
			<li>Plugin is updated for EFrame Web v2.3.*</li>
		</ul>
	</li>
	<li>Version: 2.2.0
		<ul>
			<li>Plugin is updated for EFrame Web v2.2.0</li>
			<li>Extra title removed from frontend</li>
		</ul>
	</li>
	<li>Version: 2.1.1
		<ul>
			<li>Plugin is updated for EFrame Web v2.1.4</li>
		</ul>
	</li>
	<li>Version: 2.1.0
		<ul>
			<li>Plugin released.</li>
		</ul>
	</li>
</ul>